[Desktop Entry]
Type=Application
Name=Catacomb
GenericName=Video Archiver
Comment=Self-hosted archive for YouTube, TikTok, Twitch, and more
Exec=catacomb
Icon=catacomb
Categories=AudioVideo;Video;Network;
Keywords=youtube;yt-dlp;archive;backup;download;
StartupNotify=true
Terminal=false
